<h1 class = 'exit-bar'><a href='/exit'>Выйти</a></h1>
<%= javascript_include_tag "chat_event.js"%>
<%= javascript_include_tag "chats.js"%>

<div class="content-wrapper"> 
	
	<input type='hidden' id='my_name' value='<%= @name.name %>'>
	<div id='chat_wrapper'>
		<div id='exit-chat'>
			<%= image_tag 'exit.png', :id => 'exit-btn' %>
		</div>
		<ul class='chat' >
			
		</ul>

		<%= render 'form' %>
		<div id='modal-window'>
			<div id='window-wrapper'>
				<p id = 'window-content'></p>
				<div id = 'window-btn'>
					<div id = 'btn-wrapper'>
						<div id = 'btn-ok'>
							<span id = 'ok-btn' class='button'>Ok</span>
						</div>
						<div id = 'btn-yes-no'>
							<span id = 'yes-btn' class='button'>Yes</span>
							<span id = 'no-btn' class='button'>No</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= image_tag 'coctail.gif', :id => 'spiner_img' %>
	</div>
	
</div>
	
