<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @chat.from %>
</p>

<p>
  <b>Where:</b>
  <%= @chat.where %>
</p>

<p>
  <b>Message:</b>
  <%= @chat.message %>
</p>


<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
